:root {
    --clr-primary:#3777aa;
    --clr-primary-light:#2284d3;
    --clr--white:#ffffff;
    --clr-lightwhite:#f0f0f0;
    --clr-shadow:#00000029;
    --clr-black:#333333;
    --clr-black-30:#2220204d;
    --clr-black-80:#222020cc;
    --clr-black-90:#212020e6;
    --clr-pink-light:#fdf2f2;
    --clr-blue-light:#f2fdfb;
    --clr-aliceblue:#f0f8ff;
    --clr-aqua:#00ffff;
    --clr-blue:#0000ff;
    --clr-orange:#ff8c00;
    --clr-gold:#ffd700;
    --clr-green:#008000;
    --clr-orahge-red:#ff4500;
    --clr-yellow:#ffff00;
    --clr-red:#ff0000;
    --clr-royalblue:#4169e1;
    font-family: Arial, Helvetica, sans-serif;
    --box-shadow-light: 0px 3px 7px var(--clr-shadow);
    --box-shadow-dark: 0px 3px 7px var(--clr-black-30);
    --transition: all .3s linear;
    --radius : 4px;
 }

 *,
::after,
::before {
   margin:0px;
   padding:0px;
   box-sizing: border-box;
}
*:focus {
   outline-width: 2px;
   outline-offset: 2px;
   outline-color: var(--clr-primary);
}

.button-dark .button-light{
   font-weight: bold;
   text-transform: uppercase;
   border: none;
   cursor: pointer;
   height: 45px;
   transition: var(--transition);
   font-size: 16px;
   letter-spacing: 1px;
   padding-left: 20px;
   padding-right: 20px;
   min-width: 200px;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   border-radius: var(--radius);
}

.button-dark {
   background-color: var(--clr-primary);
   color: var(--clr--white);
}

.button-light {
   background-color: var(--clr--white);
   color: var(--clr-primary);
}

/* navbar styles */
.nav-container {
    background-color: var(--clr-aqua);
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -70px;
}

.nav-container.sticky-nav {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 9;
   transition: var(--transition);
}

.nav-container .logo-section img {
   width: 50px;
}

.logo-section {
   cursor: pointer;
}

.nav-container .hamburger img {
   width: 25px;
   height: min-content;
}

.nav-container .hamburger {
   display: flex;
   justify-self: flex-end;
   padding-top: 15px;
   cursor: pointer;
}

.nav-links-main .nav-links {
   list-style: none;
   display: none;
   gap: 10px;
}

.nav-links .nav-link {
   text-decoration: none;
}

.nav-social-links-main .nav-social-links {
   list-style: none;
   display: none;
}

.nav-center {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(2,1fr);
}

@media screen and (min-width: 992px) {
   .nav-container {
       min-height: 70px;
   }
   .nav-container .hamburger {
       display: none;
   }
   .nav-center {
       grid-template-columns: repeat(3, 1fr);
   }
   .nav-links-main .nav-links {
       display: flex;
       gap: 20px;
   }
   .nav-container .nav-social-links-main{
      display: flex;
      justify-self: flex-end;
   }
   .nav-social-links-main .nav-social-links {
       display: flex;
       justify-self: flex-end;
       gap: 20px;

   }
   .nav-link {
      color: var(--clr-black);
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold;
      padding: 5px 10px ;
      transition: var(--transition);
   }
   .nav-container .nav-link.active, .nav-container .nav-link:hover {
      background: var(--clr--white);
   }
   .nav-social-links .nav-social-link {
      width: 40px;
      height: 40px;
      border: 2px solid var(--clr--white);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
   }
.nav-social-links-main .nav-social-link:hover {
   transition:var(--transition) ;
   transform: translateY(8px);
}
   .nav-container .nav-social-link img {
      width: 20px;
      padding-top: 3px;

   }
}

/* featured styles */
.single-course {
   width: 100%;
   background: var(--clr--white);
   height: 100%;
   box-shadow: var(--box-shadow-light);
   border-radius: var(--radius);
   transition: var(--transition);
}
.single-course:hover {
   transform: translateY(-2px);
   box-shadow: var(--box-shadow-dark);
}

.single-course .img-container {
   aspect-ratio: 350/250;
   overflow: hidden;
}

.single-course .img-container img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-top-left-radius: var(--radius);
   border-top-right-radius: var(--radius);
   transition: var(--transition);
}
.single-course .course-tittle p {
   font-size: 22px;
   text-transform: capitalize;
   text-align: center;
   font-weight: bold;
   color: var(--clr-black);
   padding-left: 10px;
   padding-right: 10px;
   margin-top: 30px;
   margin-bottom: 30px;
}

@media screen and (min-width:992px) {
   .single-course .img-container {
      aspect-ratio: 396/300;
   }
   .single-course:hover img  {
      transform: scale(1.05);
   }
}

.three-coloum-layout {
   display: grid;
   grid-template-columns: 1fr;
   gap: 40px;
}

@media screen and (min-width:769px) {
   .three-coloum-layout {
      grid-template-columns: 1fr 1fr;
   }
}

@media screen and (min-width:992px) {
   .three-coloum-layout {
      grid-template-columns: 1fr 1fr 1fr;
   }
}

.each-campus {
   width: 100%;
   background: var(--clr--white);
   height: 100%;
   box-shadow: var(--box-shadow-light);
   border-radius: var(--radius);
   transition: var(--transition);
}
.each-campus:hover {
   transform: translateY(-2px);
   box-shadow: var(--box-shadow-dark);
}

.each-campus .img-container {
   /* aspect-ratio: 350/250; */
   overflow: hidden;
}

.each-campus .img-container img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-top-left-radius: var(--radius);
   border-top-right-radius: var(--radius);
   transition: var(--transition);
}

.each-campus .img-container p {
   font-size: 22px;
   text-transform: capitalize;
   text-align: center;
   font-weight: bold;
   color: var(--clr-black);
   padding-left: 10px;
   padding-right: 10px;
   margin-top: 30px;
   margin-bottom: 30px;
}

.each-campus .campus-name p {
   font-size: 22px;
   text-transform: capitalize;
   text-align: center;
   font-weight: bold;
   color: var(--clr-black);
   padding-left: 10px;
   padding-right: 10px;
   margin-top: 30px;
   margin-bottom: 30px;
}

.each-campus .info p {
   font-size: 15px;
   text-align: justify;
   padding-left: 15px;
   padding-right: 25px;
}

.each-campus .location p {
   font-size: 15px;
   font-weight: bold;
   text-align: center;
   padding-bottom: 25px;
}

@media screen and (min-width:992px) {
   .each-campus .img-container {
      aspect-ratio: 396/300;
   }
   .each-campus:hover img  {
      transform: scale(1.05);
   }
}

.each-facility {
   width: 100%;
   background: var(--clr--white);
   height: 100%;
   box-shadow: var(--box-shadow-light);
   border-radius: var(--radius);
   transition: var(--transition);
}
.each-facility:hover {
   transform: translateY(-2px);
   box-shadow: var(--box-shadow-dark);
}

.each-facility .img-container {
   aspect-ratio: 350/250;
   overflow: hidden;
}

.each-facility .img-container img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-top-left-radius: var(--radius);
   border-top-right-radius: var(--radius);
   transition: var(--transition);
}

.each-facility .img-container p {
   font-size: 22px;
   text-transform: capitalize;
   text-align: center;
   font-weight: bold;
   color: var(--clr-black);
   padding-left: 10px;
   padding-right: 10px;
   margin-top: 30px;
   margin-bottom: 30px;
}

.each-facility .facility-info p {
   font-size: 22px;
   text-transform: capitalize;
   text-align: center;
   font-weight: bold;
   color: var(--clr-black);
   padding-left: 10px;
   padding-right: 10px;
   margin-top: 30px;
   margin-bottom: 30px;
}

@media screen and (min-width:992px) {
   .each-campus .img-container {
      aspect-ratio: 396/300;
   }
   .each-campus:hover img  {
      transform: scale(1.05);
   }
}